aiohttp
aiofiles
aioboto3
fastapi
uvicorn[standard]
sqlalchemy
asyncpg
psycopg2-binary
alembic
pydantic
pydantic-settings
elasticsearch
celery
celery[asyncio]
redis
python-multipart
torch
torchvision
torchaudio
openai-whisper
nltk==3.8.1
langdetect==1.0.9
